
{% extends 'base.html' %}


{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <title> Empty project | repage </title>

{% endblock %}



{% block content %}

    <style>
        .container-messege{
            font-family: "Segoe UI";
            font-weight: bold;
            margin-top: 100px;
        }
    </style>


    <div class="row center-xs">
        <div class='col-md-5 container-messege'>
            <h1>Poyecto bacio</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut provident deleniti, inventore cupiditate fugiat minima iure? Neque alias vel veniam facilis vitae esse
            </p>
        </div>        
    </div>


 
{% endblock %}



