{% extends 'base.html' %}


{% block header %}
    {% load static %}
    <title>Hello</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
	{% load static %}

    <div class='container' id='container'>
        <a href='/page/'>Create page</a>
        <br/>
        <a id='close'>close</a>
        <br/>
        <br/>
        <br/>

        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-8">
                <div class="box">
                    <div class="row center-md center-xs" id='pages-list'></div>
                </div>
            </div>

            <div class="col-md-2">
            </div>
        </div>

        <br/><br/>
        <br/><br/>

    </div>

    <script src=" {% static 'home.js' %} " ></script>

{% endblock %}